<html>
<head>
<title>WELCOME </title>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/create.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h2>CREATE  GROUP</h2>
	<div class = createuser>
	<form name="User Login" method="post" action="">
    <h4>CREATE GROUP</h4>

      GROUP_NAME:<input type="text" name="name" id="UName"></p>
      ADMIN  :<input type="text" name="name" id="admin"></p>
      MEMBERS:<select name="employee" id="members">
	            <option value="Interns">Bootcamp23</option>
	            <option value="Associates">Fellows-class-of-24</option>
	            <option value="Managers">Facility Managers</option>
	            <option value="Executives">Andela-LOS</option>
	            <option value="Director">Andela-Nairobi</option>
	        </select></p>

    </form>
    <button class="button" id="AddNew" onclick="location.href='creategroup.html'">CREATE</button>
    <button class="button" id="submit" onclick="location.href='message.html'">MESSAGE</button>
     <button class="button" id="submit" onclick="location.href='creategroup.html'">DELETE</button>

    </div>
</body>
<footer>
</footer>