<html>
<head>
<title>POST IT </title>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id = "header">	
<ul>
	<li> <h2  id = "heading">POST IT</h2></li>
  <li><a href="#Index.html">Login</a></li>
  <li><a href="#create">Create Group</a></li>
  <li><a href="#Message">Message</a></li>
  <li><a href="#Notice">Notice board</a></li>
  
  </ul>

</div>

<div  id = "login">
<form name="User Login" method="post" action="">
<H4>REGISTER HERE</H4>
<p>SIGN UP/SIGN IN<p/>

NAME:<input type="text" name="name" id="UName"></p>
EMAIL:<input type="text" name="deduct" id="Email"></p>
PASSWORD:<input type="text" name="name" id="Pwd"></p>
CONFIRM PASSWORD :<input type="text" name="name" id="CPwd"></p>
</form>
<button class="button" id="submit" onclick="location.href=''">Register</button>
<button class="button" id="submit" onclick="location.href='creategroup.html'">CREATE GROUP</button>


</div>
</body>
