<html>
<head>
<title>WELCOME </title>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/create.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h2>LOGIN TO CREATE GROUP</h2>
	<div class = createuser>
	<form name="User Login" method="post" action="">
    <h4>LOGIN</h4>

      USERNAME:<input type="text" name="name" id="UName"></p>
      PASSWORD :<input type="text" name="name" id="admin"></p>

    </form>
    <button class="button" id="AddNew" onclick="location.href='creategroup.html'">LOGIN</button>

    </div>
</body>
<footer>
</footer>