<html>
<head>
<title>WELCOME </title>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/create.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h2>SEND YOUR NOTICE</h2>
	<div class = createuser>
	<form name="User Login" method="post" action="">
<H4>GROUP</H4>
TITLE:<textarea rows="" cols="" name="name" id="Message"></textarea><br></br>
TEXT:<textarea rows="" cols="" name="name" id="Message"></textarea><br></br>
GROUP<select name="employee" id="EmpCategory">
	<option value="Interns">Bootcamp23</option>
	<option value="Associates">Fellows-class-of-24</option>
	<option value="Managers">Facility Managers</option>
	<option value="Executives">Andela-LOS</option>
	<option value="Director">Andela-Nairobi</option>
	</select></p>
</form>
<button class="button" id="send" onclick="location.href='noticeboard.html'">SEND</button>

</body>
