
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="css/signup.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="asset/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Welcome to my Post it messaging app</title>
    </head>

    <body>
<body>
   
  <div class="card-panel teal lighten-2 white-text center"><h3>LOGIN TO VIEW PAGE</h3> 
    <div class="createuser">
    <div class="row">
    <form class="col m12">
      <div class="row">
        <div class="input-field col s6 text-white">
          <input placeholder="enter username" id="name" type="text" class="validate">
          <label for="name center">Name</label>
        </div>
      </div>

          <div class="row">
        <div class="col s12">
            <div class="input-field col s12 text-white">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="invalid email" data-success="right">email</label>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12 text-white">
          <input id="password" type="password" class="validate">
          <label for="password">password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 text-white">
          <input id="password" type="password" class="validate">
          <label for="password">confirmpassword</label>
        </div>
      </div>
      </div>
       <br></br>

    <a href="creategroup.html" class="btn waves-effect btn-large text-white pink">SUBMIT</button></a>               
  
  </form> 
  </div>
</div> 
</div>  
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    </body>
 
  </html>
        