<html>
<head>
<title>WELCOME </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/notice.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="asset/css/materialize.min.css">

</head>
<body>
	<div class="card-panel teal lighten-2 white-text center"><h2>VIEW THE NOTICE BOARD</h2>
<div class = createuser></div>
	


<script src="asset/css/material.min.js"></script>
</script>
</body>
