
#header{
	background: #800080;
	width: 100%;
	margin-top: 0px;
	height: 80px;
	float:left;
	color:white;
	margin-left:none;
    margin-bottom: 20px;
}

#heading{
padding:10px;
margin-top:10px;
color: white;
padding-left: 5px;
font-size:30px;
font-family:raleway;
text-align: left;
}
.clear{

}

#login {
width:300px;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-left:300px;
margin-top: 0px;

}
.clear{

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    overflow: hidden;
}

li {
	margin-left:50px;
    float: left;
}

li a {
    display: block;
    padding: 8px;
    
    float: left;
    color: white;